
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../static/css/bootstrap.css" rel="stylesheet" >
<link href="../static/css/resume.css" rel="stylesheet" ">
<link href="../static/css/bootstrap-theme.css" rel="stylesheet" >

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV Web Builder</title>
    


  </head>
<body class="body-black">
    <div class="container">

      <div class="container jumbotron" >
                 <h1>You will receive the files by email shortly.Thank you for using Web CV Builder!</h1>

      </div>
    </div>
      <!-- Footer -->
      <footer style="margin-top: 20px;bottom:0;">
      <div class="jumbotron row">
        <p class=" col-md-4 text-left " style="padding:10px; font-size:14px"> WRB is protected under  <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a> 
        </p>
        <p class=" col-md-4 text-center" style="padding:10px; font-size:14px"> Got any feedback?   <a href="https://docs.google.com/forms/d/1unxBU-9MXHHnWZNAdSv8a-bQZTKq7ZJCORewnqyIiKw/edit">Click HERE!</a> 
        </p>
        
        <p class=" text-right  col-md-4" style="padding:10px; font-size:14px"> Developers: <a href="https://www.linkedin.com/in/alex-anto-chirayath/">Alex Chirayath</a> and <a href="https://www.linkedin.com/in/mrudula-deore/">Mrudula Deore</a>
        </p>
      </div>
      <!-- /.container -->
    </footer>    
      
  


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>





</body>
      
  
</html>